// Variables

$website-width: 1280px;
$main-color: hsl(44, 100%, 50%);
$light-color: hsl(0, 0%, 96%);
$lighter-color: hsl(0, 7%, 89%);
$medium-color: hsl(0, 0%, 80%);
$dark-color: hsl(20, 0%, 10%);
$bg-image: url('../img/showcase.jpg');


@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}