// Notice how you don't even need the '_' of the scss file
@import 'config';
@import 'utilities';
@import 'item_grid';

// General Styles

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: $light-color;

}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

//Just notice in general that you dont have different id's for each section of the page, you reuse them.

// Logo

#logo {
    width: 70px;
    height: 70px;
    color: white;
    text-transform: uppercase;
}

//Main nav

#main-nav {
    display: flex;

    //The reason you do this is to put the nav on the right and the logo on the left
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
        color: white;
        flex-direction: row;
        //align-items actually was a bit off
        margin-top: 20px;

        // Normally I would use the flex-gap property, but it still (at the time of writing this) has a 91% adoption rate among browesers. While htis is better, it still isn't enough. I am sorry to my future self and will have to use this stupid hack.

        $margin-links: 3rem;

        &>* {
            margin-right: $margin-links;
        }

        // Notice the li a selectof
        a {
            color: white;
            text-transform: uppercase;
            // The transparent part of that is important
            border-bottom: 2px transparent solid;
            transition: border-color 0.5s;
            padding-bottom: 0.5rem;

            &:hover {
                border-color: $medium-color;
            }

            // The current page will have these styles
            &.current {
                border-color: $main-color;
            }
        }

    }
}

//Header

#header {

    // Header home, the container of the header. Note that you don't have to put the '#' symbol because thats already the parent. Just a bit trippy
    &-home {
        // Cover means that the image wiil stretch the entire container (width and height)
        background: $bg-image no-repeat center right / cover;
        height: 100vh;
        color: white;

        //Header-content
        .header-content {
            text-align: center;
            padding-top: 20%;

        }

        h1 {
            font-size: 3rem;
        }

        a[class^='btn'] {
            font-weight: 700;
        }
    }

    // Header Inner

    &-inner {
        // THe percentages move the background image around
        background: $bg-image no-repeat 20% 30% / cover;
        height: 5.5rem;
        border-bottom: 3px solid $main-color;
    }

}

#home {

    // Home section A, I specialize in
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: repeat(4, 1fr);

            .fas {
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }

    // Home section B, all the stats

    &-b {
        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);


            li {
                line-height: 2;

                &.stats-title {
                    font-size: 1.5rem;
                }

                &.stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            div {
                padding: 3rem 0;

                &:nth-child(odd) {
                    background: $lighter-color;
                }

                &:nth-child(even) {
                    background: $medium-color;
                }
            }
        }
    }

    &-c {
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            text-align: center;

            &>div {
                padding: 1rem
            }

            // Process step number
            &-step {
                position: absolute;
                top: -5px;
                right: -5px;
                font-size: 1.5rem;
                background: $main-color;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 1rem;
                transition: all 1s;
            }

            // The styles for all the icons
            &-icon {
                $size: 70px;
                border-radius: 50%;
                background-color: $dark-color;
                color: white;
                padding: 2rem;
                width: $size;
                height: $size;
                // Centers it a bit better. In this case you are better off actually making an svg circle the background. But ig in this case not really?
                line-height: $size;
                text-align: center;
                position: relative;
                transition: all 1s;

                &:hover {
                    background: $main-color;

                    .process-step {
                        background-color: $dark-color;
                        $size: 25px;
                        width: $size;
                        height: $size;
                        line-height: $size;
                    }
                }
            }
        }
    }


}

//About Sections

#about {

    //About A
    &-a {
        & .about-info {
            display: grid;
            grid-template-areas:
                'bioimage bio bio'
                'aw1 aw2 aw3';
            gap: 1.2rem;
        }

        //Grid area, you assign

        & .bio-image {
            // For some weird reason you can't surround grid area values with quotes
            grid-area: bioimage;
            align-self: center;
        }

        & .bio {
            background: $lighter-color;
            border-left: 3px solid $main-color;
            padding: 10px;
            grid-area: bio;
        }

        .award {
            padding-top: 20px;

            i {
                color: $main-color;
                margin: 10px
            }
        }

        .award-1 {
            grid-area: 'aw1';
        }

        .award-2 {
            grid-area: 'aw2';
        }

        .award-3 {
            grid-area: 'aw3';
        }


    }

    //About B
    &-b {
        // Crickets
    }

    &-c {
        .about-logo {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;

            img {
                width: 70%;
                // Centers the images
                justify-self: center;
            }
        }
    }

    &-d {
        .testimonials {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            div {

                img {
                    border-radius: 50%;
                    width: 50px;
                }

                p {
                    padding: 5px;
                    border: 2px dashed $lighter-color;
                }

                ul {
                    display: flex;
                    align-items: center;
                    margin-top: 25px;
                    margin-bottom: 25px;

                    li:nth-child(2) {
                        margin-left: 10px;
                    }
                }

            }
        }
    }
}

//Contact 

#contact {
    &-a {
        .text-fields {
            display: grid;
            grid-template-areas:
                'name email'
                'subject phone'
                'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;
            font-family: 'Dosis', sans-serif;

            input,
            textarea {
                font-family: 'Dosis', sans-serif;

            }

            //Grid Area

            .name-input {
                grid-area: name;
            }

            .subject-input {
                grid-area: subject;
            }

            .email-input {
                grid-area: email;
            }

            .phone-input {
                grid-area: phone;
            }

            .message-input {
                grid-area: message;
                height: 100px;
            }

            .text-input {
                padding: 0.5rem 1rem;
            }
        }

        button[type='submit'] {
            width: 200px;
            font-family: 'Dosis', sans-serif;
        }
    }

    &-b {
        .container {
            display: grid;
            text-align: center;
            grid-template-columns: repeat(3, 1fr);
        }

        h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &-c {
        h1 {
            font-size: 5rem;
        }

    }
}

//Footer

#main-footer {

    background: $dark-color;

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        color: white;
        align-items: center;

        .social,
        p {
            padding: 20px;
        }

        //Social media icons
        .fa-brands {
            color: white;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            padding: 0.5rem;
            line-height: 100%;
            transition: all 0.2s ease-in;

            &:hover {
                color: $main-color;
            }

        }

        .social {
            display: flex;
            justify-content: flex-end;
        }
    }
}


@import 'media';